.btn{
  align-self: flex-end;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--btn-color);
  color: var(--white);
}

.next-btn{
  margin-left: 15px;
  margin-right: 0;
  padding: 8px 14px;
}

.back-btn{
  margin-right: 15px;
  padding: 8px 14px;
}

.disabled{
  opacity: 0.6;
}