.paginationBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 25px;
  background-color: var(--blue);
}

.pageBlock{
  display: flex;
  align-items: center;
}