.selectBlock{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 230px;
  font-size: 15px;
}

.selectBlock:not(:last-child){
  margin-right: 20px;
}

.rowSelectBlock{
  flex-direction: row;
  align-items: center;
  width: 250px;
  font-size: 17px;
}

.label{
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 600;
}

.rowLabel{
  width: 60%;
  margin-bottom: 0;
  margin-right: 8px;
}

.select{
  position: relative;
  width: 100%;
}

.selectBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 36px;
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
}

.rotate{
  transform: rotate(180deg);
}

.selectBody{
  z-index: 10;
  position: absolute;
  display: none;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
  box-shadow: 4px 8px 8px rgba(57, 55, 74, 0.4);
}

.selectBodyActive{
  display: block;
}

.selectOption{
  width: 100%;
  padding: 6px 8px;
  border-radius: 8px;
  text-align: start;
}

.selectOption:hover{
  background-color: var(--light-blue);
}
