.select{
  position: relative;
  width: 100%;
  padding-left: 12px;
  font-size: 15px;
}

.selectBlock:not(:last-child){
  margin-bottom: 6px;
}

.item{
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  background-color: var(--white);
}

.item:not(:last-child){
  margin-bottom: 6px;
}

.selectedItem{
  background-color: var(--light-blue);
}

.selectBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 6px;
  padding: 4px;
  border-radius: 8px;
  background-color: var(--white);
}

.rotate{
  transform: rotate(180deg);
}
