.input{
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  font-size: 15px;
  color: var(--dark-blue);

}

.paginationInput{
  padding: 6px;
  text-align: center;
}

.label{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label:not(:last-child){
  margin-right: 20px;
}

.paginationLabel{
  width: 38px;
}

.paginationLabel:not(:last-child){
  margin-right: 10px;
}

.labelSmall{
  width: 300px;
}

.text{
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 600;
}

.disabled{
  background-color: var(--blue);
}